@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);


@import "styles/vars";
@import "styles/common";
@import "styles/1.0.header";
@import "styles/1.1.top-line";
@import "styles/1.2.main";
@import "styles/1.3.core-text";
@import "styles/1.4.video";
@import "styles/2.0.features";
@import "styles/2.1.container";
@import "styles/2.1.feature";
@import "styles/2.2.img";
@import "styles/2.3.text";
@import "styles/3.0.pricing";
@import "styles/3.1.title.subtitle";
@import "styles/3.2.list.block";
@import "styles/3.3.text.block";
@import "styles/3.4.plan-text";
@import "styles/3.5.price-text";
@import "styles/3.6.feature-list";
@import "styles/3.7.feature-text";
@import "styles/3.8.button";
@import "styles/3.9.footnote.text";
@import "styles/4.0.footer";
@import "styles/4.1.footer.title";
@import "styles/4.2.input";
@import "styles/4.2.1.input-btn";
@import "styles/4.3.subtitle";
@import "styles/4.4.company";
@import "styles/5.1.bottom-line";

