%bundle {
    content: " ";
    display: inline-block;
    margin-right: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.bundles {
    &__text {
        font-weight: 400;
        &:before{
            @extend %bundle;
            background-color: #000;
        }
        &.-orange {
            font-size: 16px;
            &:before {
                @extend %bundle;
                background-color: #efcc7c;
            }
        }
    }
}

