%bundle{
    content: " ";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    font-size: 16px;
    position: absolute;
    left: 0px;
    margin-top: 6px;
}

.bundles{
    color: #fff;
    text-align: left;
    font-size: 16px;
    &__bundle {
        padding-left: 8px;
        padding-bottom: 7px;
        &.-white {
            &:before{
                @extend %bundle;
                background-color: #fff;
            }
        }
        &.-orange {
            &:before{
                @extend %bundle;
                background-color: #efcc7c;
            }
        }
    }
}

