.header {
    min-height: 100vh;
    background: url(img/about_top.png);
    padding-top: 20px;
    background-size: cover;
    &__main-part{
        padding-top: 40px;
    }
    &__main-title{
        @extend %title;
        margin-top: 20%;
        @media screen and (max-width: 990px) {
            margin-top: 0;
        }
    }
    &__subtitle{
        font-size: 1.3em;
        margin-bottom: 1.5em;
    }
    &__video{
        margin: 50px 0;
    }
    &__try-it{
        @extend %title;
        width: 390px;
        background: #EFCD7C;
        color: #333;
        padding: 1em;
        font-size: 1.2em;
        &:hover{
            background: #FACE64
        }
        @media screen and (max-width: 480px) {
            width: 100%
        }
    }
}

