.logo {
    &__title {
        margin-left: 10px;
        display: inline-block;
        margin-top: 22px;
        @extend %title;
        font-size: 24px;
        &.-io {
            color: #5E5E5E;
            margin: 0px;
        }
    }
    &__img{
        display: inline-block;
        max-width: 100%;
        height: auto;
        position: relative;
        top: -7px;
    }
}

.annex {
    text-align: right;
    &__link{
        display: inline-block;
        margin-left: 10%;
        &:hover{
            text-decoration: underline;
        }
    }
}

.link {
    &__title{
        font-size: 14px;
        @extend %title;
        color: #000;
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}