.features {
    background: url(img/background-02.png);
    padding-top: 100px;
    background-size: cover;
    &__elem {
        margin-bottom: 230px;
        &.-rapid {
            margin-bottom: 130px;
        }
        &.-soft {
            margin-bottom: 100px;
        }
    }
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
}

@media screen and (max-width: 769px) {
    .features {
        padding-top: 80px;
        &__elem {
           margin-bottom: 80px;
        }
    }
}