%text {
    color: rgb(116, 116, 118);
    word-wrap: normal;
    font-size: $font-size * 4.5;
}

.content {
    &__title {
        font-size: $font-size * 8;
        line-height: $font-size * 12;
        margin: 0px;
    }
    &__section {
        @extend %text;
        margin-top: 30px;
    }
}

.feature-subtitle {
    text-align: center;
    &__title {
        font-size: $font-size * 8;
    }
    &__section {
        @extend %text;
        margin-top: 40px;
    }
}

@media screen and (max-width: 769px) {
    .content {
        &__title {
            font-size: $font-size * 8;
            line-height: $font-size * 8;
        }

    }
}


