.pricing {
    padding-left: 0px;
    padding-right: 0px;
    background: rgb(237, 237, 237);
    text-align: center;
    padding-top: 80px;
    height: auto;
    &__list {
        margin: 65px 10px 10px 10px;
    }
}

