.pricing {
    padding-left: 0px;
    padding-right: 0px;
    background: rgb(237, 237, 237);
    text-align: center;
    padding-top: 80px;
    height: auto;
    &__list {
        margin-top: 90px;
        margin-bottom: 30px;
    }
}

