.plan {
    width: 208px;
    height: 355px;
    border-radius: 4px;
    background: rgb(52, 52, 52);
    margin: 0px 7.5px 10px 7.5px;
    &.-active {
        background: rgb(220, 20, 92);
    }
    &.-individual {
        background: rgb(138, 149, 155);
    }
}


