.plan {
    &__title {
        text-transform: uppercase;
        color: rgb(230, 230, 230);
        font-size: $font-size * 3;
    }
    &__big-title {
        font-size: $font-size * 8;
        text-transform: none;
    }
    &__subtitle {
        font-size: $font-size * 3.5;
        color: #000;
        margin-top: -15px;
    }
}


