.footer {
    background: #2A2A2A;
    text-align: center;
    color: #fff;
}

.title {
    text-align: center;
    &__header {
        margin: 45px 0 0 0;
        font-size: 48px;
        font-weight: 300;
    }
    &__bottom {
        font-weight: 500;
        margin: 6px 0 30px 0;
        font-size: 16px;
    }
}
