.footer {
  &__title-header {
    margin-top: 50px;
    font-size: 32px;
    color: #fff;
    font-weight: 300;
  }
  &__title-bottom {
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    margin-top: -2px;
  }
}
