.input {
    margin-top: 92px;
    margin-bottom: 25px;
    &__line {
        border-radius: 4px 0 0 4px;
        height: 60px;
        font-size: $font-size * 6;
        margin-bottom: 10px;
        border-style: none;

    }
    &__input-button {
        background: rgb(221, 19, 92);
        height: 60px;
        border-radius: 0 4px 4px 0;
        color: rgb(255, 183, 220);
        font-size: $font-size * 4;
        font-weight: bold;
        border-style: none;
    }
}



