.subtitle-sub {
    height: 30px;
    line-height: 30px;
}


.footer {
    &__text {
        font-size: 14px;
        color: #fff;
        font-weight: 300;
    }
    &__line {
        margin-top: 16px;
        height: 1px;
        background: #625433;
        &.-none {
            background: none;
        }
    }
}

