.company {
    margin: 40px 0 13px 0;
    &__facebook {
        width: 100px;
        height: 110px;
        display: inline-block;
    }
    &__twitter {
        width: 100px;
        height: 105px;
        display: inline-block;
    }
}

