.company {
    margin-top: 50px;
    margin-bottom: 60px;
    &__facebook {
        width: 150px;
        height: 110px;
        display: inline-block;
    }
    &__twitter {
        width: 150px;
        height: 110px;
        display: inline-block;
    }

}

