%title{
    text-transform: uppercase;
    font-weight: bold;
}


body{
    font-family: 'Roboto', sans-serif;
    font-size: $_font-size;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
}
